body{
    padding: 0px;
    margin: 0px;
    background-color: black; 
}
h1{
    color: red;
    text-align: center;
    background-color: rgb(112, 245, 232);
}
p{
    color: yellow;
    font-size: 2rem;
}
pre{
    color: rgb(3, 5, 90);
    font-size: 1.2rem;
    background-color: rgb(130, 202, 122);
   white-space:pre-line;
   padding: 30px;
}
span{
    background-color: white;
    font-size: 2rem;
}
#h3-tag{
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
}
#h3-tag1{
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
}
button{
    display: flex;
   margin: 0 auto;
}